body {
    background-color: #f4f6f9;
}

.navbar {
    padding: 15px;
}

.card {
    border-radius: 15px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.03);
}

h1, h2, h3 {
    font-weight: bold;
}

.btn {
    border-radius: 10px;
}